.address__title {
    padding-top: 10px;
    width: 500px;
}

.card-columns {
    align-items: center;
    margin: 10px;
    margin-left: 25%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#balance {
    color: gray;
    border: 1px solid gray;
    border-width: 50;
    border-radius: 2px;
    padding: 9px;
    margin-left: 5px;
}

.div__balance {
    align-items: center;
    display: flex;
    margin: 10px;
}

.input-group-append {
    margin-right: 15px;
}

#moneyCredit {
    margin-left: 15px;
}

#moneyDebit {
    margin-left: 15px;
}

.sendMoney {
    margin-top: 12px;
    margin-left: 4%;
    width: 100%;
}

.sendMoney_subTag {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
}

#pendingTransactionsBtn {
    margin-left: 15px;
    margin-bottom: 10px;
}

#transaction {
    padding: 10px;
}